body{
	margin: 0 auto;
	background-color:  #f7f9f9;

}
.container{
	width: 500px;
	height:500px;
	margin:0 auto;
	background-color: #5d6d7e;
	
	margin-top:150px;
	opacity: 0.7;
	border-radius: 10px;
}
.container img{

	margin-top: -50px;
	margin-left: 170px;
	width: 160px;
	height: 160px;
	border-radius: 2px;
	margin-bottom: 80px;
	text-align: center;
}

.form-input input{
	height: 40px;
	width: 300px;
	margin-left: 100px;
	margin-bottom: 20px;
	padding-left: 15px;
	font-size: 16px;
}
.btn-login{
	width:100px;
	height: 50px;
	font-size: 20px;
	font-family: Arial;
	margin-left: 200px;
	background-color: #16a085;
	border:none;
	border-radius: 4px;
	margin-bottom: 40px;
	cursor: pointer;
}
.container  a{
	font-size: 25px;
	text-decoration:none;
	color: #fff;
	margin-left: 30px;
}

#element1{
	display:inline-block;
	font-size: 20px;
}
#element2{
	display:inline-block;
	margin-left: 50px;
}
